# source
lib
index.ts
package-lock.json
tsconfig.json
.github
vit.config.js
test
coverage

# misc
.prettierrc
.prettierignore
.commitlintrc.js
.eslintignore
.eslintrc.js
.editorconfig
.husky
.vscode
tsconfig.tsbuildinfo
